header{
    color: white;
    background-color: gray;
}
footer{
    background-color: yellow;
}
#id2{
    display: grid;
}
.supercontainer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#id1{
    background-color: yellow;
    font-size: 50px;
    display: flex;
    justify-content: center;
}